<header class = "banner">
  <% if (u === undefined){ %>
  <div class = sign>*Not Sign in</div>
  <%} else { %>
  <div class = sign>Welcome  <%= u.FirstName%></div>
  <% } %>
  <h1><img src= "/assets/images/foot.png" alt="logo" style="width:30px;height:30px;"/>&nbsp;&nbsp;Soccer Info</h1>
</header>
