<aside>
  <div><ul>
    <li class = fo><a href="/">HomePage</a></li>
    <li class = fo><a href="/categories/catalog">News</a></li>
    <!-- <li class = fo>Leagues<ul>
      <li><a href ="premeir_league.html">English Premier League</a></li>
      <li><a href ="premeir_league.html">Champions League</a></li>
    </ul></li> -->
    <li class = fo><a href="/about">About Us</a></li>
    <li class = fo><a href="/contact">Contact</a></li>
  </ul><br>
</div>
<div><img src="/assets/images/Feb.jpg" alt="calender" style="width:90%;height:250px;">
</div>
</aside>
