<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <title>Soccer News</title>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/about.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <main>
    <div class = topbar>
      <h1>About</h1>
    </div>
    <div class=about>
      <p>Welcome Users. I am Divya Patel.</p>
      <p>I am purusing my master from University Of North Carolina At Charlotte.</p>
      <p>This is my NBAD Assignment. Thank you for using this application. </p>
    </div>
  </main>
  <% include partials/sidenav.ejs %>
  <% include partials/footer.ejs %>

</body>
</html>
