<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <title>Soccer News</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/Category.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>

  <main>
    <%
    for(var i=0; i< data.categories.length; i++){ %>
      <section><h3><%= data.categories[i] %></h3>
            <%
            for(var j=0; j< data.items.length;j++){
                if(data.categories[i] === data.items[j].catalogCategory){ %>
                  <div class = art><img src= "<%= data.items[j].imageUrl %>" alt="news" style="width:100px;height:50px;">
                    <p class = txt><a href="/categories/item/<%= data.items[j].itemCode %>"><b><%= data.items[j].itemName %></b></a></p>
                  </div>
               <% }
            }
             %>
           </section>
      <%  }  %>

  </main>
    <% include partials/sidenav.ejs %>
    <% include partials/footer.ejs %>

</body>
</html>
