<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <title>Soccer News</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <main>

      <p><b>Hello, This is site for soccer fan. You can find schedual of all upcoming matches and past fixture's results.</b></p>
      <p><b>Main functionality is that you can see latest news of all around the world and as a user you can also post new news that you found out.</b></p>
      <p><b>You can sign in to see all the saved news by you ans also all the post posted by you. You can also update or delete the post that you posted before.</b></p>

  </main>
  <% include partials/sidenav.ejs %>
  <% include partials/footer.ejs %>

</body>
</html>
